<%- include('header') %>

<form action="/" method="post" class="ui form">
    <div class="field">
        <label for="Url">
            Url : 
        </label>
        <input type="text" name="url" id="url">
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
        <i class="icon edit"></i> Send
    </button>
</form>

<%- include('footer') %>
