<%- include('header') %>

<form action="/" method="post" class="ui form">
    <div class="field">
        <label for="Url">
            Url : 
        </label>
        <div style="display : flex">
            <input type="text" name="url" id="url" placeholder="https://test.com/">
            <input type="number" name="number_url" id="number_url" placeholder="20" style="width: 100px; margin-left: 10px;">
        </div>
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
        <i class="icon edit"></i> Send
    </button>
</form>

<% if(locals.message) { %>
    <div class="ui message">
        <%- message %>
    </div>
    <% } %>
<%- include('footer') %>
